#page-landing{
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#page-landing .content-wrapper{
    
    position: relative;

    width: 100%;
    max-width: 1100px;
    
    height: 100%;
    max-height: 600px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    background: url('../../imagens/crianca.svg') no-repeat 60% center;
    background-size: 37%;
    
}

#page-landing main{
    max-width: 350px;

}
#page-landing main h1{
    font-size: 76px;
    font-weight: 900;
    line-height: 70px;

}
#page-landing main p{
    margin-top: 40;
    font-size: 24px;
    line-height: 34px;

}

.location {
    position: absolute;
    right: 50px;
    top: 50px;  

    font-size: 24px;
    line-height: 34px;
    display: flex;
    flex-direction: column;

    text-align: right;
}
.location strong{
    font-weight: 800;
}
.enter-app {
    position: absolute;
    right: 50px;
    bottom: 50px;  

    width: 80px;
    height: 80px;

    border-radius: 30px;

    background: #ffd666; 

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.3s;
}
.enter-app:hover{
    background: #96feff; 
}